# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
db/*.sqlite3*

# ignore files uploaded through active_record
/storage/*
!/storage/.keep

# ignore RubyMine files
.generators
.rakeTasks
/.idea/*